:host {
  .container {
    @media only screen and (min-width: 600px) {
      padding-left: 16px;
    }
  }
  angular-th-company-card {
    margin-bottom: 16px;
    @media only screen and (min-width: 600px) {
      margin-right: 16px;
    }

  }
}
