<mat-toolbar color="accent">
  <img fxFlexAlign="center" src="assets/icons/icon-512x512.png" alt="Angular Thailand Logo" class="angular-th-logo" />
  <mat-toolbar-row fxLayoutAlign="center end">Who use Angular in Thailand</mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="center start">บริษัทใดบ้างที่ใช้ Angular</mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="center start">
    <a href="https://github.com/perjerz3434/who-use-angular-in-thailand" mat-stroked-button>
      Add your company
      <mat-icon>plus_one</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
