<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="center end">Who use Angular(JS) in Thailand</mat-toolbar-row>
    <mat-toolbar-row fxLayoutAlign="center start">
      <span class="font-size16">บริษัทใดบ้างที่ใช้ Angular(JS)</span>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayoutAlign="center start">
      <a href="https://github.com/perjerz3434/who-use-angular-in-thailand" class="ml-auto" mat-stroked-button>
        Add your company
        <mat-icon>plus_one</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
