<angular-th-header logo="assets/icons/icon-512x512.png" titleEn="Angular Quiz" titleTh="รวมผลคะแนน Angular จาก Pluralsight" actionName="Do a quiz" actionUrl="https://app.pluralsight.com/score/skill-assessment/angular" actionMatIcon="question_answer"></angular-th-header>
<angular-quiz-quiz-list [loaded]="loaded" [quizzes]="quizzes$ | async"></angular-quiz-quiz-list>
<angular-th-footer repoUrl="https://github.com/AngularThailand/who-use-angular-in-thailand/tree/master/projects/angular-quiz" repoName="angular-quiz" footerText="© 2018 - Angular Thailand"></angular-th-footer>
