<mat-card fxLayout="column" *ngIf="company">
  <mat-card-header>
    <mat-card-title>{{company.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="company.companyUrl as url">
      <a [href]="url" target="_blank" rel="noopener">{{url}}</a>
    </mat-card-subtitle>
  </mat-card-header>
  <div fxLayoutAlign="center center" style="height: 300px">
    <img *ngIf="company.logo as logo" loading="lazy" fxFlexAlign="center" class="company-logo" [src]="logo" [alt]="company.name" />
  </div>
  <mat-card-content>
    <p class="description">{{company.description}}</p>
  </mat-card-content>
  <mat-card-content *ngIf="company.productUrls.length > 0">
    <div fxLayout="column" fxLayoutAlign="start">
      <b>Product:</b>
      <ng-container *ngFor="let url of company.productUrls">
        <a style="width: 300px; overflow-x: hidden" [href]="url" target="_blank" rel="noopener">{{url}}</a>
      </ng-container>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div fxLayout="row wrap" fxLayoutAlign="start">
      <ng-container *ngFor="let tech of company.technologies">
        <img *ngIf="tech | techToIcon as icon; else techText" loading="lazy" class="tech-logo" [src]="icon" [alt]="tech"/>
        <ng-template #techText>
          <span fxFlexAlign="center">{{tech}}</span>
        </ng-template>
      </ng-container>
    </div>
  </mat-card-footer>
</mat-card>
