:host {
  .company-logo {
    width: 200px;
  }
  .tech-logo {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 50px;
    margin-left: 16px;
  }
  div[fxlayout="row wrap"] > * {
    margin-left: 16px;
  }
  .description {
    word-break: break-word;
  }
  mat-card-content {
    margin-top: 16px;
  }
  mat-card-footer > div {
    margin-bottom: 16px;
  }
}
