<angular-th-header logo="assets/icons/icon-512x512.png" titleEn="Who use Angular in Thailand" titleTh="บริษัทใดบ้างใช้ Angular" actionName="Add your company" actionUrl="https://github.com/AngularThailand/who-use-angular-in-thailand/blob/master/README.md" actionMatIcon="plus_one"></angular-th-header>
<angular-th-company-list [companies]="companies$ | async" [loaded]="loaded"></angular-th-company-list>
<angular-th-footer repoUrl="https://github.com/AngularThailand/who-use-angular-in-thailand" repoName="who-use-angular-in-thailand" footerText="© 2018 - Angular Thailand"></angular-th-footer>
